{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-5 gradient-border">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 my-3 rounded-3 bg-dark">
                <h2 class="card-title text-center mb-4 text-light">{% trans "Change Password" %}</h2>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-muted">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please <a href="{{ passwd_reset_url }}" class="infocrumbs-link">request a new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" name="action" class="btn neon-button">{% trans 'Change Password' %}</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
