{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 gradient-border">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 my-3 rounded-3 text-center bg-dark">
                <h2 class="card-title mb-4 text-light">Password Reset Email Sent</h2>
                <p class="text-light">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p class="text-muted">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <a href="{% url 'account_login' %}" class="btn neon-button">Return to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
