{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-5 gradient-border">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 my-3 rounded-3 text-center">
                <h2 class="card-title mb-4 text-light">{% trans "Password Changed" %}</h2>
                <p class="test-muted">{% trans 'Your password has been changed.' %}</p>
                <a href="{% url 'account_login' %}" class="btn neon-button mt-4">{% trans "Return to Login" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
