{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block title %}Success{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Subscription Confirmed!</h2>
                <hr>
                {% if subscription %}
                    <p class="text-black">Your subscription information is below.</p>
                    <div class="order-confirmation-wrapper p-2 border">
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Subscription Details:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Plan</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ subscription.plan.get_name_display }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Renewal Frequency</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ subscription.frequency.name }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Start Date</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ subscription.start_date|date:"d M Y H:i" }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">End Date</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ subscription.end_date|date:"d M Y H:i" }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Payment ID</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ payment_intent_id }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-black">There was an issue retrieving your subscription details. Please check your email for confirmation or contact support.</p>
                {% endif %}

                <div class="my-5 text-center">
                    <a 
                    href="{% url 'account_profile' %}" 
                    class="btn neon-button"
                    aria-label="link to profile page subscription status">
                        Go to My Subscription Status
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
