{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-2xl font-bold mb-6 text-center text-white">Choose a Subscription Plan</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for plan in plans %}
            <div class="bg-[#1A103D] p-6 rounded-2xl shadow-md border border-[#333A56] text-light">
                <h2 class="text-xl font-semibold text-neon-green mb-2">{{ plan.name|title }}</h2>
                <p class="mb-1 text-neon-blue">Duration: {{ plan.get_duration_display }}</p>
                <p class="mb-4 text-neon-orange font-bold">Price: ${{ plan.price }}</p>
                <a href="{% url 'subscribe' plan.id %}"
                    class="inline-block px-4 py-2 bg-neon-green text-black font-bold rounded hover:bg-neon-blue transition">Subscribe</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}