{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Choose Your Subscription Plan</h1>
    <div class="row g-4 justify-content-center">
        {% for plan in plans %}
            <div class="card bg-dark text-light gradient-border m-2 p-4">
                    {% if plan.name == 'Premium' %}
                        <h3>{{ plan.name }} <i class="fa-regular fa-gem"></i></h3>
                    {% else %}
                        <h3>{{ plan.name }} <i class="fa-regular fa-user"></i></h3>
                    {% endif %}
                <p>Allows you to select up to {{ plan.topic_limit }} topics to follow</p>
<hr>
                <p>Select renewal frequency</p>
                    <ul class="list-unstyled">
                        {% for freq in plan.frequencies %}
                        <li class="p-4 d-flex justify-content-between">
                            <p>DEBUG: freq.id = {{ freq.id|default:"(empty ID)" }}, freq.name = {{ freq.name|default:"(empty Name)" }}</p> {# Add this line #}
                            £{{ freq.price }}- Billed {{ freq.name }}
                            {% if freq.discount > 0 %}
                                <small class="text-muted">({{ freq.discount }}% off)</small>
                            {% endif %}
                            <a href="{% url 'checkout' plan.id freq.id %}" class="btn neon-button btn-sm m-2">Subscribe</a>
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
