{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center text-light">Your Subscription Status</h1>
    <hr>
    {% if subscription %}
        <div class="gradient-border glow text-light text-center">
            <p><strong class="text-neon-green">Plan:</strong> {{ subscription.plan.name|title }}</p>
            <p><strong class="text-neon-blue">Frequency:</strong> {{ user_subscription.frequency.name }}</p>
            <p><strong class="text-neon-orange">Valid Until:</strong> {{ subscription.end_date|date:"Y-m-d H:i" }}</p>
        </div>
    {% else %}
        <div class="text-center text-white">
            <p>You are not subscribed to any plan yet.</p>
            <a href="{% url 'choose_plan' %}"
                class="inline-block mt-4 px-4 py-2 bg-neon-green text-black font-bold rounded hover:bg-neon-blue transition">Choose
                a Plan</a>
        </div>
    {% endif %}
</div>
{% endblock %}