{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to InfoCrumbs{% endblock %}

{% block content %}
<div class="container welcome-container py-5 px-5 gradient-border glow">
    <section class="welcome-section">
        <h1 class="">Welcome to <span class="highlight glow-text">InfoCrumbs</span></h1>
        <p class="tagline">Summarized insights. Personalized for you.</p>

        {% if user.is_authenticated %}
            <a href="{% url 'crumb_list' %}" class="neon-button">Explore Crumbs</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="neon-button">Get Started</a>
        {% endif %}
    </section>
</div>
{% endblock %}
