<div class="subscription-status">
    {% if user_subscription %}
        <h3>Subscription Status</h3>
        <p>
            You are subscribed to the <strong>{{ user_subscription.plan.name|capfirst }}</strong> plan. 
            on {{ user_subscription.frequency.name }} basis.
        </p>
        <p>
            You current subsription expires on: {{ user_subscription.end_date|date:"Y-m-d H:i" }} UTC.
        </p>
        <a href="{% url 'choose_plan' %}" 
        class="neon-button" aria-label="link to choose plan page">
            Change/Renew Plan
        </a>
    {% else %}
        <h3>
            You are not subscribed yet.
        </h3>
        <a href="{% url 'choose_plan' %}" 
        class="neon-button" aria-label="link to choose plan page">
            Subscribe Now
        </a>
    {% endif %}
</div>