{% load crispy_forms_tags %}

<form method="post" action="{% url 'account_update' %}">
    {% csrf_token %}
    {{ form|crispy }} {# Render the UserUpdateForm #}
    <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-primary neon-button" aria-label="Save account details">Save Changes</button>
    </div>
</form>

<a 
    href="{% url 'account_change_password' %}" 
    class="btn btn-outline-danger mt-3"
    aria-label="link to change password page">
        Change Password
</a>
