{% load crispy_forms_tags %}

{% if messages %}
    <div class="messages mb-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="post" action="{% url 'account_update' %}" id="account-update-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="neon-button btn btn-lg mt-3">Save Changes</button>
</form>


<a 
    href="{% url 'account_change_password' %}" 
    class="btn btn-outline-danger mt-3"
    aria-label="link to change password page">
        Change Password
</a>
